.-c-player1-secondary {
    color: $player1-secondary-color;
}

.-c-player2-secondary {
    color: $player2-secondary-color;
}

.-c-text {
    color: $text-color;
}

.-c-penalty {
    color: $penalty-color;
}

.-bg-player1 {
    background: $player1-primary-color;
}

.-bg-player2 {
    background: $player2-primary-color;
}

.-bg-disabled {
    background: $disabled-color;
}