.-fs-xl {
    font-size: $font-size-xl;
    line-height: $font-size-xl;
}

.-fs-l {
    font-size: $font-size-l;
    line-height: $font-size-l;
}

.-fs-m {
    font-size: $font-size-m;
    line-height: $font-size-m;
}

.-fs-s {
    font-size: $font-size-s;
    line-height: $font-size-s;
}

.-fs-xs {
    font-size: $font-size-xs;
    line-height: $font-size-xs;
}

.-fw-sb {
    font-weight: $font-weight-semibold;
}

.-fw-r {
    font-weight: $font-weight-regular;
}

.-font-logo {
    font-family: $logo-font-family;
}

.-fs-logo {
    font-size: $font-size-logo;
    line-height: $font-size-logo;
}