$background-color: #111D2E;
$player2-primary-color: #217BCD;
$player2-secondary-color: #93D3F7;
$player1-primary-color: #CD218A;
$player1-secondary-color: #F6A8D8;
$penalty-color: #EA5454;
$text-color: #F0F2F9;
$disabled-color: #565656;
$gradient-light: linear-gradient(to right, #3DADDC, #FF59BF);