$font-family: 'Barlow Condensed';
$logo-font-family: 'Agdasima';


$font-size-logo: 48px;
$font-size-xxl: 64px;
$font-size-xl: 36px;
$font-size-l: 30px;
$font-size-m: 24px;
$font-size-s: 20px;
$font-size-xs: 16px;

$font-weight-semibold: 600;
$font-weight-regular: 400;